.body {
  background-image: "linear-gradient(to right, #4880EC, #019CAD)";
}
/* App.css */
.white-text {
  color: white !important; /* Use !important to override Bootstrap styles */
}
/* App.css */
.nb-footer {
  background-color: #2F302C; /* Set your desired background color */
  color: white; /* Set text color to white */
  padding: 20px; /* Add padding for spacing */
}

.product-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px; /* Adjust as needed */
  min-height: calc(100vh - 80px); /* This ensures that the grid takes up the remaining viewport height */
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 20px;
  max-width: 1200px; /* Optional: Limit the maximum width of the grid */
}

/* Optional: Adjust card width if needed */
.product-card {
  width: 18rem;
}

/* Optional: Center align text within cards */
.product-card .card-body {
  text-align: center;
}
